$green      : #7cb854 // graphic identity: main green color
$blue       : #1b2e5c // dark blue color
$gray       : #F1F7FF // principal gray color
$light-gray : #f6f6f6 // light gray for container backgrounds
$dark-blue  : #2C3F69 // darker blue


$font-light : $light-gray