.login-layout
  form( ng-submit="login()" )
    .icon-input
      i.ion-at
      input( type="email" ng-model="credentials.username" placeholder="usuario" required )
    .icon-input
      i.ion-ios-locked
      input( type="password" ng-model="credentials.password" placeholder="contraseña" required )
    button.btn.btn-large.btn-ok entrar

  a.recovery( ui-sref="outside.recovery" ) Olvidé mi contraseña