.centered-layout
  .content
    header
      img( src="images/logo_iso.svg" )
    section.login-form
      form( ng-submit="login()" )
        .login-input
          i.ion-ios-person-outline
          input( type="text" ng-model="credentials.username" placeholder="usuario" required )
        .login-input
          i.ion-ios-locked
          input( type="password" ng-model="credentials.password" placeholder="contraseña" required )
        button.login-submit entrar
      
      a.recovery( ui-sref="outside.recovery" ) Olvidé mi contraseña

    footer
      p Creze &copy; 2016. Todos los derechos reservados.
