.passwd-layout
  form( ng-submit="send()" )
    .icon-input
      i.ion-ios-locked
      input( type="password" ng-model="password" placeholder="contrase単a" required )
    .icon-input
      i.ion-ios-locked
      input( type="password" ng-model="verifyp" placeholder="verificar contrase単a" required )
    div( ng-show="password != verifyp" ).form-alert-error
      i.ion-alert
      | Las contrase単as no coinciden.
    button( ng-disabled=" password != verifyp || password == undefined " style="margin-top:14px" ).btn.btn-large.btn-submit cambiar contrase単a
