.recovery-layout
  form( ng-submit="send()" )
    .icon-input
      i.ion-at
      input( type="email" placeholder="correo electrónico" required )
    button.btn.btn-large.btn-submit recuperar contraseña
